@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'capitolcity';
  src: url('/fonts/capitolcityexpand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pointless';
  src: url('/fonts/Pointless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.capitol-font {
    font-family: 'capitolcity', sans-serif;
}

.pointless-font {
    font-family: 'pointless', sans-serif;
}

nav div:not(:first-child) a:hover{
    color: grey;
}